<body>
<div class="title">
  <% @page_title = "企業概要" %>
  <h3>企業概要</h3>
</div>
<section>
  <!--ここに企業理念について書く-->
</section>
<section class="policy_area">
  <div class="policy_area2">
    <h1 class="policy_title"><span id="title_txt">沿革</span></h1>
    <p class="policy_txt">ここにいついつなになにを書いていく。</p>
  </div>
</section>
<section class="policy_area">
  <div class="policy_area2">
    <h1 class="policy_title"><span id="title_txt">オフィス紹介</span></h1>
    <%= image_tag(image_path("office_varon"), alt:"varon", :class => "session_image") %>
    <p class="policy_txt">各地のライブハウスを中心に活動しております。</p>
  </div>
</section>
<section class="trainings_area">
  <div class="trainings_area2">
    <h1 class="trainings_title"><span id="title_txt">会社情報</span></h1>
    <div class="ggmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.628981291859!2d139.6965670149577!3d35.66151168019891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca9021ee8e1%3A0x52a368840fcb9299!2sWWW!5e0!3m2!1sja!2sjp!4v1525769030061" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    <table class="company_info_table">
      <tr>
        <th>会社名</th>
        <td>合同会社柚希ジム</br>(英文社名:Yzk-Gym LLC.)</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒150-0042</br>
          東京都渋谷区宇田川町13−17 ライズビル</br>
          渋谷WWWでぼくと握手！</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>2015年5月</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>10枚買っても1万円</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>・柚希未結さんを応援する</br>
          ・Webサイト、サービスの企画・開発</br>
          ・スポッチャ</td>
      </tr>
    </table>
  </div>
</section>
