<body>
<div class="title">
  <h3>採用情報</h3>
</div>

<section class="policy_area">
  <div class="policy_area2">
    <h1 class="recruitment_title"><span id="title_txt">企業理念</span></h1>
    <p>
      本気で楽しむ
    </p>
    <p>
      "消費"の意味の楽しむことも面白いと思うけど、"生産的"な楽しみ方が好き。遊びも適当にじゃなくて本気でやる。それが一番面白い。そういう風に楽しむ人が増えたらいいなと思う。
    </p>
  </div>
</section>
<section class="policy_area">
  <div class="policy_area2">
    <h1 class="policy_title"><span id="title_txt">沿革</span></h1>
    <p class="policy_txt">ここにいついつなになにを書いていく。</p>
  </div>
</section>
<section class="policy_area">
  <div class="policy_area2">
    <h1 class="policy_title"><span id="title_txt">オフィス紹介</span></h1>
    <p class="policy_txt">オフィス画像数枚と説明。なぜこういうオフィスなのか。</p>
  </div>
</section>
<section class="trainings_area">
  <div class="trainings_area2">
    <h1 class="trainings_title"><span id="title_txt">会社情報</span></h1>
    ここに地図。
    <table class="recruitment_table">
      <tr>
        <th>会社名</th>
        <td>合同会社柚希ジム</br>(英文社名:Yzk-Gym LLC.)</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒005-0009</br>
          柚希未結の出演するところ</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>2015年5月</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>10枚買っても1万円</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>柚希未結を応援する</br>Webサイト、Webサービスの企画・開発・運営</br>スポッチャ</td>
      </tr>
    </table>
  </div>
</section>
