<div class="expo">
  <h1 = class="title">当サイトのご説明</h1>
  <p class="txt">
    当サイトは柚希未結さんの名前をお借りしてはおりますが、あくまで柚希未結のヲタクによって設けられたものである為、
    柚希未結本人の活動及び意思とは一切関係ございません。
  </p>
  <p class="txt2">
    また、柚希未結さんの今後の活動、近況などについてのお問い合わせを頂いてもお答え兼ねますのでご了承ください。
  </p>
  <p class="byname">
    柚希ジム会員一同
  </p>
</div>
