<div class="top" ><!--  スライドを入れたい -->
  <%= image_tag("YZKmen1.jpeg", alt:"YZKmen", :class => "top") %>
  <h1>楽しいを探しに行こう。</h1>
  <p>Fun is always nearby us.</p>
  <a href="/about" class="about_btn">About us</a><!-- contactボタンを作るかも　5/9 -->
</div>
<section class="news_area" >
  <h1 class="news_tittle">NEWS</h1>
  <div class="news_list">
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
    <p> xxxx/xx/xx        ニュース を 入れる</p>
  </ul>
</section>
<section class="work_area"> <!-- commentが思うようにいかない(上に行ってしまう))　-->
  <div class="work_content">
    <%= image_tag("YZKmen2.jpg", alt:"YZKmen2", :class => "back_image") %>
    <p class="work_text">
      テキストを入れる
    </p>
  </div>
</section>
