<div class="top" ><!--  スライドを入れたい -->
  <%= image_tag("YZKmen1.jpeg", alt:"YZKmen", :class => "top") %>
  <h1>楽しいを探しに行こう。</h1>
  <p>Fun is always nearby us.</p>
  <a href="/about" class="about_btn">About us</a><!-- contactボタンを作るかも　5/9 -->
</div>
<section class="news_area" >
  <div class="news_area2">
    <h1 class="news_title">NEWS</h1>
    <div class="news_list">
      <p> xxxx/xx/xx        ニュース を 入れる</p>
      <p> xxxx/xx/xx        ニュース を 入れる</p>
      <p> xxxx/xx/xx        ニュース を 入れる</p>
    </div>
  </div>
</section>
<section class="about_area">
  <h1 class="about_title">企業概要</h1>
  <a>私たちについて</a>
  <a>ここにずらーっとかく</a>
</section>
<section class="work_area">
  <h1 class="work_title">業績紹介</h1>
  <a>業績紹介</a>
  <a>ここにずらーっとかく</a>
</section>
<section class="recruit_area">
  <h1 class="recruit_title">採用情報</h1>
  <a>採用情報</a>
  <a>ここにずらーっとかく</a>
</section>
<section class="trainning_area">
  <h1 class="trainning_title">人材育成</h1>
  <a>人材育成</a>
  <a>ここにずらーっとかく</a>
</section>
