<div class="privacy">
  <% @page_title = "プライバシーポリシー" %>
  <h1 class="policy">プライバシーポリシー</h1>
  <h2 class="using">個人情報の取り扱いに関して</h2>
  <p class="txt">
      合同会社柚希ジム(以下、当ジム)は、個人情報保護法の尊守のため、ヲタクの皆様方をはじめ、
    当ジムに関係する方々の個人情報を保護することは不可欠の要素だと考えております。
    そのため、当ジムの個人情報保護方針(プライバシーポリシー)に基づき、以下の通り取り扱います。
  </p>
  <h3 class="title">1.個人情報の取得</h3>
  <p class="txt">
      製品サービスの向上のため、Twitter等のSNSにアップロードされた写真や動画などのヲタクの皆様の
    個人情報を利用させていただく場合がございます。
    また、当ジムでは来たる5/20柚希未結生誕ラストライブに伴い、Twitterアカウント等の皆様の個人情報をお伺いする事がございます。
    なお、ご提供いただいた個人情報はこれらの目的以外には一切利用致しません。
  </p>

    <h3 class="title">2.個人情報の利用</h3>
    <p class="txt">
        当社が保有するお客様の個人情報を、お客様の同意なしに第三者に開示・提供することはありません。
      ただし、以下の場合は、お客様の同意なく個人情報を開示・提供することがあります。
    </p>
    <ul class="items">
      <li>法令に基づく場合。</li>
      <li>人の生命、身体又は財産の保護のために必要がある場合であって、お客様の同意を得ることが困難であるとき。</li>
      <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様の同意を得ることが困難であるとき。</li>
      <li>
        国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、
        お客様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。
      </li>
      <li>面白そうなとき。</li>
    </ul>

    <h3 class="title">3.個人情報の提供</h3>
    <p class="txt">
        当ジムは、皆様方から得た怪しい情報を、本人の同意なく第三者に提供することは致しません。
    </p>
  </div>

  <!--
  <h3>個人情報の預託</h3>

  <h3>個人情報の取得</h3>
-->
