<session>
  <div class="work_top"><!-- ここら辺は周りと合わせる-->
    <% @page_title = "活動内容" %>
    <%= image_tag(image_path("dance2"), alt:"dance", :class=> "dance") %>
    <h1 class="content_title">活動内容</h1>
  </div>
</session>
<session class="item_box1">
  <div class="item_contena">
    <h1 class="box_title">幻影ギャラクティカフリコピ選手権</h1>
    <div class="video">
      <iframe width=auto height=auto
      src="https://www.youtube.com/embed/3rnlNEetQgQ?rel=0" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <p class="text">
      自主練習やスタジオ練習、合宿を通して、何かに本気になることの苦労や楽しさを思い出しました。
      部活動のような一夏の出来事を通して”どのように行動したいか"を考えるきっかけとなりました。</p>
  </div>
</session>
<session class="item_box2">
  <div class="item_contena">
    <h1 class="box_title">異文化交流</h1>
    <%= image_tag(image_path("Js"), alt:"Js", :class => "Js")  %>
    <p class="text">
      異なる文化に対しても、とにかくやってみるという気持ちを持って積極的にふれあい、
      自分たちの新たな"楽しい"を生み出し続けています。</p>
  </div>
</session>
<session class="item_box3">
  <div class="item_contena">
    <h1 class="box_title">プログラミング学習</h1>
    <%= image_tag(image_path("study2"), alt:"study", :class => "studying") %>
    <p class="text">
      与えられたものをただ楽しむだけでなく、たくさんの人たちに"面白い"、"楽しい"と感じてもらえるような
      モノ作りにも挑戦したいと考え、その一環としてプログラミングを学んでいます。
    </p>
  </div>
</session>
