@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  padding-top: 60px;
}


/* header */
