@import "bootstrap-sprockets";
@import "bootstrap";

/*mixin*/

@mixin cell_box {
}


/* universal */

.container {
  padding-top: 130px;
  width: 100vw;
  height: 100vh;
  text-align: center;
}



/* header */
header {
  height: 90px;
  padding-right: 10px;
  position: fixed;
  background-color: white;
  z-index: 100;
}
img.logo {
  width: 120px;
  height: 90px;
}



ul.nav {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

li :hover {
    color: indianRed;
    text-decoration: none;
    transition: border-color 0.4s, color 0.4s;
}

/*body*/

  /*home*/

.home1 {
  position: relative;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.home1 h1 {
  position: absolute;
  text-align: left;
  bottom: 0px;
  left: 0px;
  font-family: serif;
  color: white;
  font-size: 80px;
  z-index: 50;
}

.home1 p {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: serif;
  color: white;
  font-size: 50px;
}

  /*NEWS_AREA*/

h1.section_titlle {
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 30px;
  font-family: serif;
}


.news_list {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 0;
}

.box_link {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-radius: 240px 30px 100px 30px / 30px 200px 30px 185px;
  background-color: cornflowerblue;
}

.box_link.active {
  background-color: lightskyblue;
}


.hover_inner {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: serif;
}

.thumbnail {
  float: left;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
