@import "mixin";


/* universal */

@media screen and (max-width:479px){
  body {
    background-color: white;
    .container {
      margin-top: 40px;
      padding: 0 0 !important ;
      height:100vh;
      width: 100vw;
    }
  }


  .session_image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .session_btn {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 0.05em 0.2em;
    right:10px;
    text-decoration: none;
    background-color: #283593;
    border: solid 2px #283593;
    border-radius: 5px;
    transition: .4s;
    &:hover {
      background: #283593;
      color: #283593;
    }
      .btn{
        font-size: 13px;
        color: white;
    }
  }

  .tweetbtn{
    position: absolute;
    right:30px;
    bottom: 10px;
  }

  /* HOME画面 */

  .top {
    position: relative;
    display: inline-block;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    .top_image{
      object-fit: cover;
      height: auto;
      max-width:100%;
    }
  }



  /* NEWS */

  .news_area {
    margin-top: 10px;
    padding: 0 10px 0;
    height: auto;
    .news_area2 {
      margin: 5px 10px;
      height: auto;
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 5px;
      box-shadow: 2px 3px 2px -1px #ccc;
      .news_list {
        padding-left: 0;
        line-height: 15px;
        height:auto;
      }
      .news_title {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        padding-left: 20px;
        font-size: 20px;
        font-family: sans-serif;
        color: #283593;
        text-align: left;
      }
      li.news_item {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 30px;
        text-align: left;
        list-style: none;
        font-size: 14px;
        border-bottom: 1px solid lightgray;
      }
      span ,p.news_subtitle {	
        color: #283593;
      }
    }
  }

  /* 企業概要 */

  .about_area {
    @include box;
    .about_area2{
      @include content_area;
      .about_title {
        @include title;
      }
      .box_txt{
        @include txt;
      }
    }
  }

  /* 活動内容 */

  .work_area {
    @include box;
    .work_area2{
      @include content_area;
      .work_title {
        @include title;
      }
      .box_txt{
        @include txt;
      }
    }
  }

  /* 採用情報 */

  .recruit_area {
    @include box;
    .recruit_area2 {
      @include content_area;
      .recruit_title {
        @include title;
      }
      .box_txt{
        @include txt;
      }
    }
  }

  /* 研修制度 いらない */

  .trainning_area {
    @include box;
    .trainning_area2 {
      @include content_area;
      .trainning_title {
        @include title;
      }
    }
  }
}

/* debug */
.debug_dump {
  position: relative;
  margin-top: auto;
}
