@import "bootstrap-sprockets";
@import "bootstrap";



/*mixin*/

@mixin footer{
  display: table-cell;
  line-height: 10px;
  padding-top:20px;
  font-size: 10px;
}

  /*  max-width :479px */
@mixin title{
  margin-left: 10px !important;
  margin-right: 50px;
  padding-left: 10px;
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  font-family:游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 
  'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #283593 !important;
  text-align: left;
  border-left: 3px solid #283593;
}

@mixin txt {
  margin-bottom: 0;
  padding: 20px 15px;
  text-align: left !important;
  font-size: 15px;
  color: black;
  line-height: 1.8em;
  font-family :游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 
  'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif !important;
}

@mixin box {
  height: auto;
  padding: 0 10px 0;
}

@mixin content_area{
  position:relative;
  margin: 20px 10px;
  height: auto;
  background-color: white;
  text-align:right;
  border: 1px solid lightgray;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 3px 2px -1px #ccc;
}


    /*  min-width:480px  */

@mixin content_area2{
  position:relative;
  margin: 5px 10px;
  height: 300px;
  background-color: white;
  text-align: right;
  border: 1px solid lightgray;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 3px 2px -1px #ccc;
}
