@import "mixin";


  .privacy {
    margin: 50px 20px;
    font-family:游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 
    'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    .policy {
      font-size: 30px;
      border-bottom: solid 1px #283593;
    }
    .using {
      font-size: 20px;
      padding-top: 20px;
    }
    .title {
      padding-top: 20px;
    }
    .txt {
      padding: 20px 20px;
      text-align: left;
      font-size: 16px;
      line-height: 25px;
    }
    li {

    }
  }
