@import "mixin";

// @mixin

@mixin item_box {
  height:auto;
  margin:0;
}

// body

@media screen and(max-width:479px){
  .work_top{
    position:relative;
    height: auto;
    width:100vw;
    .dance{
      position: relative;
      height: auto;
      width: 100%;
    }
  }
}


.content_title{
  position:absolute;
  color: white;
  background: rgba(0, 0, 0, 0.450);
  font-weight: bold;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}


.item_box1{
  @include item_box;
  .box_title{
    @include title;
    font-size: 1.4em;
  }
  .video{
    padding-top: 20px;
    height: auto;
    width: 100%;
  }
}

.item_box2{
  @include item_box;
  .box_title{
    @include title;
  }
}

.item_box3{
  @include item_box;
  .box_title{
    @include title;
  }
}

.item_contena{
  @include content_area;
  margin: 20px 20px;
  text-align: center !important;
  .text {
    padding: 20px;
    text-align: left;
    line-height: 20px;
  }
  .studying{
    height: auto;
    width: 100%;
  }
  .Js{
    height: auto;
    width: 100%;
  }
}
