<ul style="list-style:none;">
   <li class="box_link">
     <dl>
       <dt class="clearfix">
         <dd><%= image_tag(image_path("Yzk-Gym-logo1.png"), alt:"Yzk-Gym-logo", :class => "thumbnail", :size => "60x60") %></dd>
         <time class="date">xxxx/xx/xx</time>
         <dd class="comment">ここにコメントを入れる</dd>
       </dt>
     </dl>
   </li>
   <li class="box_link">
     <dl>
       <dt class="clearfix">
         <dd><%= image_tag(image_path("Yzk-Gym-logo1.png"), alt:"Yzk-Gym-logo", :class => "thumbnail", :size => "60x60") %></dd>
         <time class="date">xxxx/xx/xx</time>
         <dd class="comment">ここにコメントを入れる</dd>
       </dt>
     </dl>
   </li>
   <li class="box_link">
     <dl>
       <dt class="clearfix">
         <dd><%= image_tag(image_path("Yzk-Gym-logo1.png"), alt:"Yzk-Gym-logo", :class => "thumbnail", :size => "60x60") %></dd>
         <time class="date">xxxx/xx/xx</time>
         <dd class="comment">ここにコメントを入れる</dd>
       </dt>
     </dl>
   </li>
 </ul>
